/*common.css*/
/*模块分块*/
.part-wrapper{
	width: 1300px;
	margin: 0 auto;
}
.part-wrapper .part-item img{
  	width: auto;
  	max-width: 100%;
}
.part-wrapper .subtitle{
	text-align: center;
	color: #535353;
	font-size: 22px;
	margin: 40px 0 20px;
}
/*三块*/
.part-three{

}
.part-three .part-item{
	width: 420px;
	float: left;
	margin-left: 20px;
}
.part-three .part-item:first-child{
	margin-left: 0;
}

/*四块*/
.part-four{

}
.part-four .part-item{
	width: 310px;
	float: left;
	margin-left: 20px;
}
.part-four .part-item:first-child{
	margin-left: 0;
}

/*更多按钮*/
.more-btn{
	display: block;
	width: 200px;
	height: 28px;
	background: #f60 url(../images/more-icon.png) center center no-repeat;
	margin: 0 auto;
	cursor: pointer;
}





/*pad-940宽度*/
@media screen and (min-width: 940px) and (max-width: 1300px) {
	.part-wrapper{
		width: 940px;
	}
	.part-three .part-item{
		width: 300px;
	}

	.part-four .part-item{
		width: 220px;
	}











}







/*phone-640宽度*/
@media screen and (max-width: 940px) {
	.part-wrapper{
		width: 100%;
	}
	.part-three .part-item{
		width: 100%;
		margin-left: 0;
	}

	.part-four .part-item{
		width: 50%;
		margin-left: 0;
	}
}