/*common.css*/
.show-m{
	display: none;
}
/*模块分块*/
.part-wrapper{
	width: 1300px;
	margin: 0 auto;
}
.part-wrapper .part-item img{
  	width: auto;
  	max-width: 100%;
}
.part-wrapper .subtitle{
	text-align: center;
	color: #535353;
	font-size: 22px;
	margin: 40px 0 20px;
}
/*三块*/
.part-three{

}
.part-three .part-item{
	width: 420px;
	float: left;
	margin-left: 20px;
}
.part-three .part-item:first-child{
	margin-left: 0;
}

/*四块*/
.part-four{

}
.part-four .part-item{
	width: 310px;
	float: left;
	margin-left: 20px;
}
.part-four .part-item:first-child{
	margin-left: 0;
}

/*更多按钮*/
.more-btn{
	display: block;
	width: 200px;
	height: 28px;
	background: #f60 url(../images/more-icon.png) center center no-repeat;
	margin: 0 auto;
	cursor: pointer;
}


/*内页文案*/
.detail-item{
	padding: 20px 0 40px;
}
.indside-text{
	font-size: 16px;
	line-height: 30px;
	color: #535353;
}
.cut-div{
	height: 360px;
	overflow: hidden;
}
.inside-h3{
	text-align: center;
	color: #ff6600;
	margin-bottom: 40px;
	font-size: 22px;
}
.show-more{
	margin-top: 10px;
}

/*pad-940宽度*/
@media screen and (min-width: 940px) and (max-width: 1300px) {
	.part-wrapper{
		width: 940px;
	}
	.part-three .part-item{
		width: 300px;
	}

	.part-four .part-item{
		width: 220px;
	}











}







/*phone-940宽度*/
@media screen and (max-width: 940px) {
	.show-pc{
		display: none;
	}
	.show-m{
		display: block;
	}
	.part-wrapper{
		width: auto;
	}
	.part-wrapper .subtitle{
		margin: 20px 0 10px;
		font-size: 18px;
	}
	.part-three .part-item{
		width: 100%;
		margin-left: 0;
	}

	.part-four .part-item{
		width: 50%;
		margin-left: 0;
	}
	.part-four .part-item:nth-child(2n+1) .inner-item{
		margin-right: 5px;
	}
	.part-four .part-item:nth-child(2n) .inner-item{
		margin-left: 5px;
	}
	
	.detail-item{
		padding: 10px 0 20px;
	}
	.cut-div{
		height: 200px;
	}
	.show-more{
		width: 100px;
		height: 20px;
		-webkit-background-size: 9px;
		background-size: 9px;
	}
	.indside-text{
		font-size: 12px;
		line-height: 16px;
		color: #535353;
		padding: 0 16px;
	}
	.inside-h3{
		text-align: center;
		color: #ff6600;
		margin-bottom: 20px;
		font-size: 16px;
	}
}