/*index.css*/
/*normal-1300*/

html,body{
	min-width: 1300px;
}

/*banner*/
.banner{
	width: 100%;
	min-width: 1300px;
	height: 550px;
	position: relative;
	z-index: 1;
}
.banner-container{
	height: 100%;
}
.banner-container .swiper-slide{
	overflow: hidden;
}
.banner-container img{
	position: relative;
	left: 50%;
	margin-left: -960px;
}
.banner-pagination{
	width: 1300px;
	height: 12px;
	position: absolute;
	z-index: 20;
	bottom: 10px;
	left: 0;
	text-align: right;
}
.swiper-pagination-switch {
  display: inline-block;
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #fff;
}
.swiper-active-switch {
  background: #ff6600;
}



/*header*/
.header{
	width: 1300px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -650px;
	background-color: #ff6600;
	z-index: 2;
}
.header .logo{
	width: 365px;
	position: relative;
	z-index: 3;
}
.header-right{
	width: 930px;
	height: 100px;
	position: relative;
	z-index: 2;
}
.top-tool{
	position: absolute;
	top: 0;
	right: 0;
	width: 1200px;
	height: 36px;
	border-bottom: 1px solid #fc3f05;
}

.top-tool .search{
	margin-top: 3px;
	margin-right: 16px;
	width: 74px;
	height: 28px;
	background: url(../images/header-search.png) 0 0 no-repeat;
	cursor: pointer;
}

.top-tool .focus-wrap{
	line-height: 35px;
	color: #fff;
	font-size: 12px;
	margin-right: 30px;
}
.top-tool .focus-wrap span{
	padding: 0 4px;
	margin: 0 4px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.top-tool .focus-wrap a{
	color: #fff;
	margin: 0 4px;
}
/*.top-tool .focus-wrap a:hover{
	text-decoration: none;
}*/




.nav-wrap{
	height: 64px;
	margin-top: 36px;
	width: 896px;
	float: right;
}
.m-nav-wrap{
	display: none;
}
.nav-wrap li{
	/*display: inline-block;*/
	float: left;
	line-height: 60px;
	padding: 0 20px;
}
.nav-wrap li > a{
	width: 72px;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 12px;
	border-bottom: 4px solid #ff6600;
	line-height: 60px;
}
.nav-wrap li:hover > a{
	text-decoration: none;
	border-color: #fff;
}
.nav-wrap li .nav-item{
	width: 1300px;
	height: 95px;
	background-color: #ecf3fc;
	position: absolute;
	right: 0;
	top: 100px;
	display: none;
}
.nav-wrap li .nav-item a{
	display: inline-block;
	height: 20px;
	margin-top: 38px;
	line-height: 20px;
	color: #ff6600;
	padding: 0 30px;
}
.nav-wrap li .nav-item a:hover{
	text-decoration: none;
	font-weight: bold;
}










/*content*/
.content{

}
/*part1*/
.part1{
	margin-top: 10px;
}
.part1 .part-item{
	border-top: 4px solid #ff6600;
	background-color: #f6f6f6;
}
.part1 .part-item h3{
	text-align: center;
	color: #535353;
	font-size: 18px;
	margin: 20px 0;
}
.part1 .part-item li{
	height: 28px;
	overflow: hidden;
	line-height: 28px;
	padding: 0 10px;
}
.part1 .part-item li a{
	color: #313131;
	display: block;
}
.part1 .part-item li a:hover{
	text-decoration: underline;
}
.part1 .part-item li a p{
	float: left;
	max-width: 280px;
}
.part1 .part-item li a span{
	float: right;
}
.part1 .more-btn{
	margin-top: 12px;
	margin-bottom: 12px;
}

/*part2*/
.part2{
	margin-top: 40px;
}
.part2 .part-item{
	height: 60px;
	line-height: 60px;
	background-color: #ff9d21;
	color: #000;
	font-size: 18px;
	position: relative;
	/*padding-left: 65px;*/
}
.part2 .part-item .inner-item{
	padding-left: 65px;
}
.part2 .part-item img{
	position: absolute;
	left: 16px;
	top: 50%;
}
.part2 .part-item img.icon-1{
	margin-top: -15px;
}
.part2 .part-item img.icon-2{
	margin-top: -12px;
}
.part2 .part-item a.add{
	width: 20px;
	height: 20px;
	background: url(../images/add-red.png) center center no-repeat;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -10px;
	cursor: pointer;
}
/*part3*/
.part3{
	margin-top: 20px;
	height: 222px;
}

.content-container{
	height: 100%;
}
.content-container .swiper-slide{
	overflow: hidden;
}
.content-container img{
	position: relative;
	left: 50%;
	margin-left: -650px;
}
.content-pagination{
	width: 1300px;
	height: 12px;
	position: absolute;
	z-index: 20;
	bottom: 10px;
	left: 0;
	text-align: right;
}

/*part4*/
/*.tabs {
  	padding: 0 15px;
}
.tabs a {
 	display: block;
 	width: 140px;
 	height: 38px;
 	line-height: 34px;
 	border: 2px solid #313131;
 	font-size: 16px;
 	color: #535353;
 	text-align: center;
 	float: left;
 	margin-left: 95px;
}
.tabs a:hover{
	text-decoration: none;
}
.tabs a.active {
  border-color: #ff6600;
  color: #ff6600;
}
.tabs-container {
	margin-top: 16px;
	background-color: #f6f6f6;
	border-top: 1px solid #eee;
	height: 130px;
}
.tabs-container .more-btn{
	margin-top: 50px;
}
.tabs-container .swiper-slide{
	overflow: hidden;
	padding: 15px 0;
	width: 100%;
	height: 100px;
}
.content-slide a{
	float: left;
	color: #313131;
	font-size: 14px;
	margin-left: 115px;
	line-height: 20px;
}
.content-slide a:hover{
	text-decoration: none;
	font-weight: bold;
	color: #ff6600;
}
*/

.part4 .tabs-list {
  	padding: 0 15px;
}
.part4 .tabs-list li {
 	display: block;
 	width: 136px;
 	height: 34px;
 	line-height: 34px;
 	border: 2px solid #313131;
 	font-size: 16px;
 	color: #535353;
 	text-align: center;
 	float: left;
 	margin-left: 95px;
 	cursor: pointer;
}
.part4 .tabs-list li:hover{
	text-decoration: none;
}
.part4 .tabs-list li.active {
  border-color: #ff6600;
  color: #ff6600;
}
.part4 .tabs-container {
	margin-top: 16px;
	background-color: #f6f6f6;
	border-top: 1px solid #eee;
	/*height: 130px;*/
}
.part4 .tabs-container .more-btn{
	margin-top: 50px;
}
.part4 .tabs-container .tabs-item{
	overflow: hidden;
	padding: 15px 0;
	width: 100%;
	/*height: 130px;*/
	display: none;
}
.part4 .content-slide a{
	float: left;
	color: #313131;
	margin-left: 115px;
	line-height: 20px;
}
.part4 .content-slide a:hover{
	text-decoration: none;
	font-weight: bold;
	color: #ff6600;
}



/*part5*/
.part5{

}
.part5 .news-wrap{
	margin-top: 36px;
	height: 400px;
}
.part5 .tabs-list {
  	
}
.part5 .tabs-list li {
 	display: block;
 	width: 146px;
 	height: 34px;
 	line-height: 34px;
 	border: 2px solid #ff6600;
 	font-size: 16px;
 	margin-left: 14px;
 	color: #313131;
 	text-align: center;
 	float: left;
 	cursor: pointer;
}
.part5 .tabs-list li:first-child{
	margin-left: 0;
}
.part5 .tabs-list li:hover{
	text-decoration: none;
}
.part5 .tabs-list li.active {
  	color: #fff;
  	background-color: #f60;
}





















.part5 .text-news{
	float: left;
	width: 970px;

}

.part5 .tabs-item{
	display: none;
}
.part5 .tabs-item ul{
	margin: 10px 0;
}
.part5 .tabs-item li{
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	padding: 0 16px;
}
.part5 .tabs-item li a{
	color: #313131;
	display: block;
}
.part5 .tabs-item li a:hover{
	text-decoration: underline;
}
.part5 .tabs-item li a p{
	float: left;
	max-width: 850px;
}
.part5 .tabs-item li a span{
	float: right;
}
.part5 .more-btn{
	margin-top: 12px;
	margin-bottom: 12px;
}



.part5 .video-news{
	float: right;
	width: 310px;
	
}
.part5 .video-news img{
	width: 100%;
}
.part5 .video-news h4{
	text-align: center;
	color: #535353;
	font-size: 18px;
	margin: 16px 0 5px;
}
.part5 .video-news li{
	display: block;
}
.part5 .video-news li a{
	display: block;
	color: #000;
	line-height: 24px;
	height: 24px;
}
.part5 .video-news li a:hover{
	text-decoration: none;
}


/*part6*/
.part6{
	margin-top: 30px;
}
.part6 .part-item{
	background-color: #a2c3c8;
	color: #fff;
}
.part6 .part-item .inner-item{
	padding: 30px 40px 20px 40px;
}
.part6 .part-item h4{
	font-size: 16px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	margin-top: 5px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.part6 .part-item p{
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	margin-top: 10px;
}
.part6 .part-item .inner-item div{
	margin-left: 80px;
}












/*part7*/
.part7{
	margin-bottom: 35px;
}
.part7 .part-item a{
	display: block;
	text-align: center;
	color: #313131;
}
.part7 .part-item a:hover{
	text-decoration: none;
}
.part7 .part-item a p{
	line-height: 28px;
	height: 28px;
}













.index-line{
	background-color: #ff6600;
	height: 2px;
	margin-top: 10px;
}	




/*footer*/
.footer{
	width: 100%;
	height: 170px;

}
.footer-top{
	height: 130px;
	background-color: #eee;
}
.top-con{
	width: 1300px;
	margin: 0 auto;
	height: 130px;
}
.top-con .top-con-left .img-wrap{
	margin-top: 10px;
}
.top-con-left .beian{
	text-decoration:none;
	color: #e44d00; 
	margin-left: 10px;
	display: block; 
	font-size: 12px;
}
.top-con-left .beian img{
	width:14px;
	height:14px;
	vertical-align: middle;
	margin-top: -2px;
	display: inline-block;
}


.top-con .top-con-left .qrcode{
	margin: 25px 0 0 20px;
}








.top-con .top-con-right{
	width: 800px;
	margin-top: 10px;
}
.top-con .top-con-right li{
	float: left;
	width: 200px;
	line-height: 30px;
}
.top-con .top-con-right a{
	color: #e44d00;
}

.footer-bottom{
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	background-color: #e44d00;
	text-align: center;
	color: #fff;
}
.footer-bottom p{
	opacity: 0.5;
}

/*pad-940宽度*/
@media screen and (min-width: 940px) and (max-width: 1300px) {
	html, body{
		min-width: 940px;
	}
	.banner{
		min-width: 940px;
	}
	.banner-pagination{
		width: 940px;
	}
	.header{
		width: 940px;
		margin-left: -470px;
	}

	.header .logo{
		width: 108px;
		height: 100px;
		z-index: 3;
	}
	.hide-pad{
		display: none;
	}
	.show-pad{
		display: block;
	}
	.header-right{
		width: 670px;
	}
	.top-tool{
		width: 900px;
	}
	.nav-wrap{
		width: 600px;
	}
	.nav-wrap li{
		padding: 0 10px;
	}
	.nav-wrap li > a{
		width: 55px;
	}
	
	.nav-wrap li .nav-item{
		width: 940px;
	}
	.dropdown-wrap{
		width: 940px;
	}







	.part2 .part-item a.add{
		right: 10px;
	}

	.part3{
		height: 162px;
	}
	.content-container img{
		width: 940px;
		margin-left: -470px;
	}
	.content-pagination{
		width: 940px;
	}

	.part4 .tabs-list{
		padding: 0;
	}
	.part4 .tabs-list li{
		margin-left: 60px;
	}
	.part4 .tabs-list li:first-child{
		margin-left: 0;
	}







	.part5 .text-news{
		width: 700px;
	}
	.part5 .tabs-list li{
		width: 106px;
		margin-left: 6px;
	  	overflow: hidden;
	  	text-overflow: ellipsis;
	  	white-space: nowrap;
	}



	.part5 .video-news{
		width: 220px;
	}



	.part6 .part-item .inner-item{
		padding: 20px 20px 15px 20px;
	}
	.part6 .part-item img{
		width: 50px;
	}
	.part6 .part-item .inner-item div{
		margin-left: 60px;
	}
	.part6 .part-item h4{
		margin-top: 0;
	}
	.part6 .part-item p{
		margin-top: 5px;
	}

	.top-con{
		width: 940px;
	}
	.top-con .top-con-right{
		width: 600px;
	}

}







/*phone-640宽度*/
@media screen and (max-width: 940px) {
	html, body{
		min-width: 100%;
		font-size: 12px;
	}
	.banner{
		min-width: 100%;
		height: auto;
	}
	.banner-container{
		height: auto;
		width: 100%;
	}
	.banner-container .swiper-slide{
		width: 100%;
	}
	.banner-container img{
		width: 100%;
		left: 0;
		margin-left: 0;
	}
	
	.banner-pagination{
		width: 100%;
	}
	.swiper-pagination-switch{
		width: 6px;
		height: 6px;
	}





	.header{
		position: relative;
		width: 100%;
		left: 0;
		margin-left: 0;
		height: 50px;
	}
	.header .logo{
		width: 54px;
		height: 50px;
		z-index: 2;
	}
	.logo img{
		height: 50px;
	}
	.header-right{
		width: 100%;
		height: 50px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	
	}
	.top-tool{
		width: 100%;
		border-bottom: none;
		height: 50px;
	}
	.navbtn{
		margin: 5px 5px 0 0;
		width: 40px;
		height: 40px;
		background: url(../images/navbtn.png) center center/25px 17px no-repeat;
	}
	.top-tool .search{
		margin-top: 15px;
		width: 57px;
		height: 18px;
		background: url(../images/m-header-search.png) center center/57px 18px no-repeat;
	}
	.nav-wrap{
		width: auto;
		float: none;
		height: auto;
		margin-top: 0;
		position: relative;
		top: 50px;
		background-color: rgba(255,255,255,.9);
		display: none;
	}
	.nav-wrap li{
		width: 100%;
		line-height: 46px;
		display: block;
		padding: 0;
		border-bottom: 1px solid #999;
	}
	.nav-wrap li > a{
		border: none;
		width: auto;
		color: #ff6600;
		font-size: 14px;
	}
	.nav-wrap li .nav-item{
		width: 100%;
		line-height: 46px;
		height: auto;
		position: relative;
		left: 0;
		top: 0;
		background: none;
	}
	.nav-wrap li .nav-item a{
		display: block;
		margin-top: 0;
		line-height: 40px;
		height: 40px;
	}
	
	.part1{
		margin-top: 0;
		padding: 0 17.5%;
	}
	.part-three .part-item{
		margin-top: 10px;
	}
	.part1 .part-item h3{
		font-size: 14px;
		margin: 10px 0;
	}
	.part1 .part-item li{
		line-height: 20px;
		height: 20px;
		font-size: 12px;
	}
	.part1 .part-item li a p{
		width: 100%;
		max-width: 60%;
	}
	.part1 .more-btn{
		height: 20px;
		width: 47.62%;
		-webkit-background-size: 9px 9px;
		background-size: 9px 9px;
	}

	.part2{
		margin-top: 15px;
	}
	.part2 .part-item{
		height: 30px;
    	line-height: 30px;
    	font-size: 12px;
    	margin-bottom: 10px;
    	padding-left: 0;
    	background-color: #fff;
	}
	.part2 .part-item .inner-item{
		background-color: #ff9d21;
    	padding-left: 35px;
	}
	/*.part2 .part-item:nth-child(2n+1) .inner-item{
		margin-right: 5px;
	}
	.part2 .part-item:nth-child(2n) .inner-item{
		margin-left: 5px;
	}*/
	.part2 .part-item img{
		width: 16px;
		margin-top: -6px;
		left: 10px;
	}
	.part2 .part-item img.icon-1{
		margin-top: -6px;
	}
	.part2 .part-item img.icon-2{
		margin-top: -8px;
	}
	.part2 .part-item a.add{
		width: 10px;
		height: 10px;
		-webkit-background-size: 10px 10px;
		background-size: 10px 10px;
		margin-top: -5px;
	}

	.part3{
		display: none;
	}

	
	.part4 .tabs-list{
		padding: 0;
	}
	.part4 .tabs-list ul{
		text-align: center;
	}
	.part4 .tabs-list li{
		width: 90px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		float: none;
		display: inline-block;
		margin: 0 5px 10px;
		border-width: 1px;
	}
	.part4 .tabs-container .more-btn{
		margin-top: 25px;
		width: 31.25%;
		-webkit-background-size: 9px 9px;
    	background-size: 9px 9px;
    	height: 20px;
	}
	
	.part4 .content-slide{
		text-align: center;
	}
	.part4 .content-slide a{
		margin-left: 0;
		display: inline-block;
		margin: 0 5px 10px;
		float: none;
	}


	.content-container img{
		width: 100%;
		left: 0;
		margin-left: 0;
	}

	.part5 .news-wrap{
		height: auto;
	}
	.part5 .text-news{
		float: none;
		width: 100%;
	}
	
	.part5 .part-item{
		margin-bottom: 10px;
	}
	/*.part5 .part-item:nth-child(2n+1) .inner-item{
		margin-right: 5px;
	}
	.part5 .part-item:nth-child(2n) .inner-item{
		margin-left: 5px;
	}*/
	.part5 .tabs-list{
		text-align: center;
		padding: 0;
	}
	.part5 .tabs-list li{
		font-size: 12px;
		float: none;
		display: inline-block;
		height: 20px;
		line-height: 20px;
		border-width: 1px;
		margin: 0 5px 10px;
		width: 120px;
	}
	.part5 .tabs-item li{
		line-height: 24px;
		height: 24px;
	}
	.part5 .tabs-item li a p{
		max-width: 70%;
	}
	
	.part5 .video-news{
		float: none;
		width: auto;
		padding: 0 6px;
	}
	.part5 .video-news h4{
		font-size: 14px;
		margin: 8px 0 2px;
	}


	.part5 .more-btn{
		width: 31.25%;
		-webkit-background-size: 9px 9px;
    	background-size: 9px 9px;
    	height: 20px;
	}

	
	.part6 .part-item{
		margin-bottom: 10px;
		background: none;
	}
	.part6 .part-item .inner-item{
		background-color: #a2c3c8;
		padding: 15px 20px 10px 20px;
	}
	/*.part6 .part-item:nth-child(2n+1) .inner-item{
		margin-right: 5px;
	}
	.part6 .part-item:nth-child(2n) .inner-item{
		margin-left: 5px;
	}*/
	.part6 .part-item img{
		width: 35px;
	}
	.part6 .part-item .inner-item div{
		margin-left: 40px;
	}
	.part6 .part-item h4{
		font-size: 14px;
		line-height: 18px;
		height: 18px;
		margin-top: 0;
	}
	.part6 .part-item p{
		font-size: 12px;
		line-height: 16px;
		height: 32px;
		margin-top: 0;
	}



	.part7 .part-item .inner-item{

	}
	/*.part7 .part-item:nth-child(2n+1) .inner-item{
		margin-right: 5px;
	}
	.part7 .part-item:nth-child(2n) .inner-item{
		margin-left: 5px;
	}*/

	.index-line{
		display: none;
	}

	

	.footer{
		height: 40px;
	}
	.footer-top{
		display: none;
	}
}
